* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    color: rgb(201, 24, 24);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2em;
    letter-spacing: 2px;
    color: rgb(31, 26, 26);
}

.menu a {
    text-decoration: none;
    color: rgb(10, 7, 7);
    padding: 20px;
    font-size: 20px;
    position: relative;
}

.menu a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(188, 11, 11);
    transition: 0.4s linear;
}

.menu a:hover::before {
    width: 90%;
}

.register a {
    text-decoration: none;
    color: rgb(15, 12, 12);
    padding: 20px;
    font-size: 20px;
    background: rgb(199, 12, 12);
    border-radius: 10px;
    transition: 0.4s;
}

.register a:hover {
    background: transparent;
    border: 1px solid indianred;
}

.h-txt {
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(16, 4, 4);

}

.h-txt span {
    letter-spacing: 5px;
}

.h-txt h1 {
    font-size: 3.5em;
}

.h-txt a {
    text-decoration: none;
    background: indianred;
    color: rgb(9, 4, 4);
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.4s;
}

.h-txt a:hover {
    background: transparent;
    border: 1px solid #0c0202;
}
img{ height: 1000px; width: 1500px;}